.about-me__hobbies {
    display: flex;
    flex-direction: column;
    gap: 15px;
    ul {
        padding-left: 5%;
        width: 90%;
        display: flex;
        flex-direction: column;
        &:hover {
            .hobby {
                color: $clr-2-op5;
            }
        }
    }
}
