.online-projects-division {
    padding: 15px 0 0;
    background-color: $clr-1-op3;
    // backdrop-filter: blur(2px);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    h2 {
        font-family: "black-fonts";
        text-transform: uppercase;
        font-size: 2em;
    }
}
