@import "../2.Utils/variables";
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    &::-webkit-scrollbar {
        width: 16px;
        background-color: transparent;
        transition: display 0.2s ease-in-out;
    }
    &:not([no-y-overflow])::-webkit-scrollbar-thumb {
        height: 56px;
        border-radius: 8px;
        border: 4px solid transparent;
        background-clip: content-box;
    }
    &::-webkit-scrollbar-thumb {
        height: 56px;
        border-radius: 8px;
        border: 4px solid transparent;
        background-clip: content-box;
        background-color: hsl(0, 0%, 67%);
        &:hover {
            background-color: lighten(hsl(0, 0%, 67%), 5);
        }
    }
}
a {
    text-decoration: none;
    &:visited {
        text-decoration: $clr-2;
    }
}
ul {
    list-style: none;
}
img {
    object-fit: cover;
}
