.about-me {
    padding-top: 110px;
    min-height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    h1 {
        text-align: center;
        font-family: "black-fonts";
        text-transform: uppercase;
        font-size: 5em;
        color: transparent;
        -webkit-text-stroke: 3px $clr-2;
    }
    h2 {
        font-family: "black-fonts";
        text-transform: uppercase;
        color: $clr-2-op8;
        font-size: 2em;
    }
}
