@media screen and (min-width: 1025px) {
    .about-me {
        .background-layout > img {
            transform: translate(40%, -45%) rotate(250deg);
        }
        h1 {
            font-size: 5em;
            -webkit-text-stroke: 3px $clr-2;
            background: $clr-1-op5;
        }
    }
}
@media screen and (max-width: 1024px) {
    .about-me {
        .background-layout > img {
            transform: translate(33%, -45%) rotate(250deg);
        }
        h1 {
            font-size: 4em;
            background: linear-gradient(
                90deg,
                $clr-1-op4,
                $clr-1-op7,
                $clr-1-op5,
                $clr-1-op3,
                $clr-1-op6,
                $clr-1-op9,
                $clr-1-op7,
                $clr-1
            );
            background-size: 1000%;
            background-position: 0%;
            background-clip: text;
            animation: backgroundTitleAnim 13s linear alternate infinite;
        }
    }
}
@media screen and (max-width: 767px) {
    .about-me h1 {
        font-size: 3em;
    }
}
.about-me {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    .background-layout > img {
        z-index: 0;
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        animation: increaseOpacity 1s cubic-bezier(1, 0, 0.82, 0.96) forwards;
    }
    h1 {
        padding-top: 110px;
        position: relative;
        z-index: 1;
        text-align: center;
        font-family: "black-fonts";
        text-transform: uppercase;
        color: transparent;
        opacity: 0;
        transform: translateY(-60%);
        transition: 0.5s ease-out;
        &.visible {
            opacity: 1;
            transform: translateY(0);
        }
    }
    h2 {
        font-family: "black-fonts";
        text-transform: uppercase;
        color: $clr-2-op8;
        font-size: 2em;
    }
    section {
        position: relative;
        padding-left: calc((100vw - 16px) / 12);
        padding-right: calc((100vw - 16px) / 12);
    }
}
