@media screen and (min-width: 768px) {
    .home-page .background-layout img {
        transform: translate(-45%, -50%);
    }
}
@media screen and (max-width: 767px) {
    .home-page .background-layout img {
        transform: translate(-50%, -55%) scale(0.85);
    }
}
.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    .background-layout img {
        position: absolute;
        top: 250px;
        left: calc((100vw - 16px) / 12);

        pointer-events: none;
        opacity: 0;
        animation: increaseOpacity 1s cubic-bezier(1, 0, 0.82, 0.96) forwards;
    }
    section {
        height: 100vh;
        padding-left: calc((100vw - 16px) / 12);
        padding-right: calc((100vw - 16px) / 12);
        &:nth-child(1) {
            margin-bottom: 300px;
        }
        &:nth-child(2) {
            margin-bottom: 100px;
        }
    }
}
