.about-me__few-words {
    position: relative;
    width: 75%;
    p {
        padding: 0 15%;
        width: 100%;
        text-align: center;
        font-size: 1.5em;
        color: $clr-2-op7;
    }
}
