@media screen and (min-width: 768px) {
    .about-me__few-words .text-container p {
        font-size: 1.5em;
        padding: 0 20%;
    }
}
@media screen and (max-width: 767px) {
    .about-me__few-words .text-container p {
        font-size: 1.1em;
        padding: 0 10%;
    }
}
.about-me__few-words {
    position: relative;
    width: 100%;
    padding: 30px 0px;
    background-color: $clr-1-op7;
    display: flex;
    flex-direction: column;
    gap: 25px;
    transform: scale(0) translateY(5px);
    opacity: 0;
    transition: 0.3s;
    &.visible {
        transform: scale(1) translateY(0);
        opacity: 1;
        h2 {
            animation: appearFromLeft 0.3s ease-out 0.32s forwards;
        }
        .text-container p {
            &:nth-child(1) {
                animation: appearFromRight 0.3s ease-out 0.4s forwards;
            }
            &:nth-child(2) {
                animation: appearFromLeft 0.3s ease-out 0.48s forwards;
            }
        }
    }
    h2 {
        text-align: center;
        transform: translateX(-10%);
        opacity: 0;
    }
    .text-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        p {
            width: 100%;
            text-align: justify;
            color: $clr-2-op7;
            &:nth-child(1) {
                transform: translateX(10%);
                opacity: 0;
            }
            &:nth-child(2) {
                transform: translateX(-10%);
                opacity: 0;
            }
        }
    }
}
