@media screen and (min-width: 1025px) {
    .about-me__soft-skills {
        flex-direction: column;
        .progress {
            color: $clr-2;
            background: linear-gradient(to right, transparent 50%, $clr-2 0%);
            &::before {
                background-color: $clr-2;
            }
            &::after {
                background-color: $clr-1;
            }
        }
        > a {
            color: $clr-2;
            background-color: $clr-1;
        }
    }
}
@media screen and (max-width: 1024px) {
    .about-me__soft-skills {
        .progress {
            color: $clr-3;
            background: linear-gradient(to right, transparent 50%, $clr-3 0%);
            &::before {
                background-color: $clr-3;
            }
            &::after {
                background-color: $clr-2;
            }
            h3 {
                color: $clr-3;
            }
        }
        > a {
            color: $clr-1;
            background-color: $clr-2;
        }
    }
}
@media screen and (min-width: 768px) {
    .about-me__soft-skills {
        justify-content: center;
        gap: 15px;
        .progress {
            height: 150px;
            width: 150px;
            &::after {
                inset: 10px;
            }
            h4 {
                top: 56%;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .about-me__soft-skills {
        justify-content: space-between;
        .progress {
            height: 95px;
            width: 95px;
            &::after {
                inset: 6px;
            }
            svg {
                display: none;
            }
            h4 {
                top: 68%;
                font-size: 0.8em;
            }
        }
    }
}
.about-me__soft-skills {
    position: relative;
    display: flex;
    &:hover {
        > a {
            opacity: 1;
        }
    }
    &.visible .progress {
        animation: appearFromLeft 0.3s ease-in-out forwards;
    }
    .progress {
        transition: opacity 0.22s ease-in;
        position: relative;
        border-radius: 50%;
        transform: translateX(-100%);
        opacity: 0;
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
                animation-delay: longDelayCalculator($i) !important;
            }
        }
        &::before {
            content: "";
            display: block;
            height: 100%;
            margin-left: 50%;
            border-radius: 0 100% 100% 0/50%;
            transform-origin: left;
            transform: rotate(calc((var(--i) - 50) * 0.01turn));
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 50%;
        }
        h3 {
            position: absolute;
            font-family: "main-fonts";
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 2.5em;
            z-index: 1;
            span {
                font-size: 0.65em;
            }
        }
        svg {
            position: absolute;
            top: 76%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
        h4 {
            font-family: "main-fonts";
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    > a {
        padding: 15px;
        position: absolute;
        opacity: 0;
        transition: 0.4s ease-in;
        font-family: "black-fonts";
        font-size: 2em;
        text-align: center;
        height: 100%;
        display: flex;
        align-items: center;
    }
}
