.section-tools {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

    &.visible {
        h2 {
            opacity: 1;
            transform: translateX(0);
        }
        .tools-container svg {
            animation: appearFromBottom 0.2s ease-out forwards;
        }
    }
    h2 {
        opacity: 0;
        transform: translateX(-10%);
        transition: 0.7s ease-out;
    }
    .tools-container {
        display: flex;
        gap: 10px;
        svg {
            height: 60px;
            width: 60px;
            transform: translateY(10%);
            opacity: 0;
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    animation-delay: delayCalculator($i) !important;
                }
            }
        }
    }
}
