.section-projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 75px;
    h2 {
        opacity: 0;
        transform: translateX(-10%);
        transition: 0.7s ease-out;
        &.visible {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .projects-container {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}
