@media screen and (max-width: 1024px) {
    header {
        nav a {
            font-size: 0.8em;
        }
        button svg {
            width: 55px;
            height: 55;
        }
    }
}
@media screen and (min-width: 768px) {
    header nav {
        display: flex;
    }
}
@media screen and (max-width: 767px) {
    header {
        nav {
            display: none;
        }
        button {
            transform: scale(0.75) translateX(35%);
        }
    }
}
header {
    z-index: 10;
    position: fixed;
    padding: 0 50px;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg, $clr-2, $clr-2-op7);
    backdrop-filter: blur(5px);
    transition: 0.2s ease-in-out;
    transform: translateY(-100%);
    animation: translateDown 0.2s ease-out 0.8s forwards;
    &:hover {
        background-color: $clr-2;
    }
    span {
        cursor: default;
        font-family: "graff-fonts";
        font-size: 1em;
        color: $clr-1;
    }
    nav {
        justify-content: space-around;
        width: 40vw;
        a {
            font-family: "main-fonts";
            color: $clr-1;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 0 8px;
            position: relative;
            transform: translateY(60%);
            opacity: 0;
            animation: appearFromBottom 0.3s ease-out forwards;
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    animation-delay: ($i * 0.11s) + 0.55s;
                }
            }
            &:hover::after {
                transform: scaleX(1);
            }
            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 100%;
                height: 2px;
                background: $clr-1;
                transform: scaleX(0);
                transform-origin: left;
                transition: 0.25s ease-in-out;
            }
        }
    }
    button {
        cursor: pointer;
        background-color: transparent;
        border: none;
        * {
            pointer-events: none;
        }
    }
    .line {
        fill: none;
        stroke: $clr-1;
        stroke-width: 2;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 2;
    }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 2;
    }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 2;
    }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 2;
    }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 2;
    }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 2;
    }
}
