@media screen and (min-width: 1025px) {
    .intro-container {
        width: 565px;
    }
    @media screen and (max-width: 1233px) {
        .intro-container {
            width: 100%;
        }
    }
}
@media screen and (min-width: 768px) {
    .intro-container {
        height: 125px;
        .intro-title {
            font-size: 4.5em;
        }
    }
}
@media screen and (max-width: 767px) {
    .intro-container {
        height: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .intro-title {
            font-size: 2em;
            text-align: center;
        }
    }
}

.intro-container {
    position: relative;
    width: 565px;
    .intro-title {
        display: flex;
        flex-direction: column;
        letter-spacing: 2px;
        line-height: 1;
        position: absolute;
        span {
            font-family: var(--title-font);
            white-space: nowrap;
        }
        &.visible {
            .hadrien-smet {
                animation: appearFromLeft 0.45s ease-out 0.1s forwards,
                    backgroundTitleAnim 20s linear 0.45s alternate infinite;
            }
            .web-developer {
                animation: appearFromLeft 0.45s ease-out 0.4s forwards,
                    backgroundTitleAnim 17s linear 0.5s alternate-reverse
                        infinite;
            }
        }
        .hadrien-smet {
            text-transform: uppercase;
            background: linear-gradient(
                90deg,
                $clr-1-op3,
                $clr-1,
                $clr-1-op5,
                $clr-1,
                $clr-1-op4,
                $clr-1,
                $clr-1-op5
            );
            background-position: 0%;
            background-size: 1000%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            transform: translateX(-20%);
            opacity: 0;
        }
        .web-developer {
            font-size: 0.7em;
            background: linear-gradient(
                90deg,
                $clr-1-op3,
                $clr-1,
                $clr-1-op4,
                $clr-1,
                $clr-1-op3,
                $clr-1,
                $clr-1-op5
            );
            background-position: 90%;
            background-size: 1000%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            transform: translateX(-20%);
            opacity: 0;
        }
    }
}
