.contact {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../../../public/images/grunge-pattern.jpg)
        center/cover;
    &__content {
        border-radius: 25px;
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 65px;
        background-color: $clr-1;
    }
    h2 {
        font-family: "black-fonts";
        text-transform: uppercase;
        font-size: 3em;
        color: transparent;
        background: linear-gradient(
            90deg,
            $clr-2-op4,
            $clr-2-op9,
            $clr-2-op3,
            $clr-2,
            $clr-2-op5,
            $clr-2-op8,
            $clr-2-op3
        );
        background-position: 0%;
        background-size: 1000%;
        background-clip: text;
        animation: backgroundTitleAnim 20s linear alternate infinite;
    }
}
