@media screen and (min-width: 768px) {
    .contact__content {
        padding: 50px;
        h2 {
            font-size: clamp(1.8em, 2.5vw, 3em);
        }
    }
}
@media screen and (max-width: 767px) {
    .contact {
        height: unset !important;
        &__content {
            padding: 35px 25px;
            h2 {
                font-size: clamp(1.2em, 2vw, 2em);
            }
        }
    }
}
.contact {
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../../../../public/images/grunge-pattern.jpg)
        center/cover;
    &__content {
        border-radius: 25px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 65px;
        background-color: $clr-1;
        transform: scale(0) translateY(5px);
        opacity: 0;
        transition: 0.3s ease-out;
        &.visible {
            transform: scale(1) translateY(0);
            opacity: 1;
            .contact {
                &__first-row::after {
                    transform: scaleX(1);
                }
                &__links-container {
                    h2 {
                        animation: appearFromLeft 0.3s ease-out 0.28s forwards;
                    }
                    p {
                        animation: appearFromLeft 0.3s ease-out 0.38s forwards;
                    }
                    .social-media-container a {
                        animation: appearFromTop 0.3s ease-out forwards;
                    }
                }
                &__future-picture {
                    animation: appearFromRight 0.3s ease-out 0.32s forwards;
                }
                &__form {
                    > div {
                        &:nth-child(1) span {
                            animation-delay: 0.63s !important;
                        }
                        &:nth-child(2) span {
                            animation-delay: 0.7s !important;
                        }
                        span {
                            animation: appearFromTop 0.3s ease-out forwards;
                        }
                    }
                    input {
                        animation: appearFromRight 0.3s ease-out 0.52s forwards;
                    }
                    textarea {
                        animation: appearFromLeft 0.3s ease-out 0.6s forwards;
                    }
                    .gradient {
                        animation: appearFromBottom 0.3s ease-out 0.68s forwards;
                    }
                }
            }
        }
    }
    h2 {
        font-family: "black-fonts";
        text-transform: uppercase;
        color: transparent;
        background: linear-gradient(
            90deg,
            $clr-2-op4,
            $clr-2-op9,
            $clr-2-op3,
            $clr-2,
            $clr-2-op5,
            $clr-2-op8,
            $clr-2-op3
        );
        background-position: 0%;
        background-size: 1000%;
        background-clip: text;
        animation: backgroundTitleAnim 20s linear alternate infinite;
        transform: translateY(-10%);
        opacity: 0;
    }
}
