@media screen and (min-width: 1025px) {
    .contact {
        &__first-row {
            width: 80%;
        }
        &__links-container {
            .social-media-container {
                position: relative;
            }
        }
        &__future-picture {
            height: 241px;
            min-width: 241px;
        }
    }
}
@media screen and (max-width: 1024px) {
    .contact {
        &__first-row {
            width: 100%;
        }
        &__links-container {
            p {
                margin-bottom: 120px;
            }
            .social-media-container {
                position: absolute;
                bottom: 0;
            }
        }
        &__future-picture {
            height: 150px;
            min-width: 150px;
        }
    }
}
@media screen and (min-width: 768px) {
    .contact {
        &__first-row {
        }
        &__links-container {
            .social-media-container {
                display: flex;
                gap: 25px;
                a {
                    &:not(:last-of-type) {
                        position: relative;
                        height: 80px;
                        min-width: 80px;
                        svg {
                            width: 65px;
                            height: 65px;
                        }
                    }
                    &:last-of-type {
                        width: calc(100% - 380px);
                        height: 56px;
                    }
                }
            }
        }
        &__future-picture {
        }
    }
}
@media screen and (max-width: 767px) {
    .contact {
        &__first-row {
        }
        &__links-container {
            p {
                margin-bottom: 140px;
            }
            .social-media-container {
                position: absolute;
                bottom: 0;
                width: calc(100vw - (100vw / 6) - 50px);
                display: grid;
                gap: 25px;
                row-gap: 10px;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 1fr 1fr;
                grid-template-areas:
                    "git link fb twit"
                    "btn btn btn btn";
                a {
                    &:nth-child(1) {
                        grid-area: git;
                    }
                    &:nth-child(2) {
                        grid-area: link;
                    }
                    &:nth-child(3) {
                        grid-area: fb;
                    }
                    &:nth-child(4) {
                        grid-area: twit;
                    }
                    &:nth-child(5) {
                        width: 100%;
                        height: 40px;
                        grid-area: btn;
                    }
                }
            }
        }
        &__future-picture {
            height: 90px;
            min-width: 90px;
        }
    }
}

.contact {
    &__first-row {
        position: relative;
        display: flex;
        justify-content: space-between;
        &::after {
            content: "";
            position: absolute;
            width: 80%;
            height: 2px;
            left: 10%;
            bottom: -45px;
            background-color: $clr-2-op5;
            transform: scaleX(0);
            transform-origin: left;
            transition: 1.3s ease-in-out;
        }
    }
    &__links-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
        p {
            font-size: clamp(1em, 1.8vw, 2em);
            color: $clr-2-op7;
            transform: translateY(-10%);
            opacity: 0;
        }
        .social-media-container {
            flex-wrap: wrap;
            align-items: center;
            a {
                transform: translateY(-60%);
                opacity: 0;
                @for $i from 1 through 5 {
                    &:nth-child(#{$i}) {
                        animation-delay: delayCalculator($i) + 0.15s !important;
                    }
                }
                &:not(:last-of-type) {
                    position: relative;
                    // height: 80px;
                    // min-width: 80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:hover {
                        .link-border {
                            transform: scale(1);
                            opacity: 1;
                        }
                    }
                    .link-border {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 3px solid $clr-2;
                        border-radius: 4px;
                        transition: transform 0.11s ease-in-out,
                            opacity 0.19s ease-in;
                        transform: scale(0.8);
                        opacity: 0;
                    }
                    svg {
                        color: $clr-2;
                        // height: 65px;
                        // width: 65px;
                    }
                }
                &:last-of-type {
                    border: 2px solid $clr-2;
                    text-transform: uppercase;
                    border-radius: 8px;
                    background-color: $clr-2;
                    color: $clr-1;

                    min-width: 140px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.12s ease-in-out;
                    &:hover {
                        translate: 0 -2px;
                        scale: 1.05 0.95;
                        background-color: $clr-1;
                        color: $clr-2;
                    }
                }
            }
        }
    }
    &__future-picture {
        border-radius: 50%;
        background-color: $clr-2;
        transform: translateX(-10%);
        opacity: 0;
    }
}
