.about-me__hobbies {
    width: 75%;
    ul {
        padding: 0 15%;
        li {
            font-family: "graff-fonts";
            font-size: 4vh;
            color: $clr-2-op6;
            letter-spacing: 2px;
        }
    }
}
