@import "./variables";
@keyframes increaseOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes translateDown {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes titleAnim {
    0% {
        border-right: 2px solid $clr-1;
        width: 0;
    }
    95% {
        border-right: 2px solid $clr-1;
        width: 100%;
    }
    100% {
        width: 100%;
        border-right: none;
    }
}
@keyframes myTitleAnim {
    0% {
        border-right: 2px solid $clr-1;
        width: 0;
    }
    98% {
        border-right: 2px solid $clr-1;
        width: 100%;
    }
    100% {
        border-right: none;
        width: 100%;
    }
}
@keyframes backgroundTitleAnim {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 90%;
    }
}
@keyframes toolsAppearsAnim {
    0% {
        transform: scale(0) translateY(5px);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateX(0);
        opacity: 1;
    }
}
@keyframes appearFromLeft {
    0% {
        transform: translateX(-10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes appearFromRight {
    0% {
        transform: translateX(10%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes smallAppearFromBottom {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes appearFromBottom {
    0% {
        transform: translateY(60%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes appearFromTop {
    0% {
        transform: translateY(-60%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
