.about-me__personality {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    &-links {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        gap: 20px;
        a {
            font-family: "black-fonts";
            letter-spacing: 2px;
            font-size: 2em;
            padding: 10px 0;
            width: 25%;
            text-align: center;
            border: 2px solid $clr-2;
            border-radius: 4px;
            background-color: $clr-2;
            color: $clr-1;
            transition: 0.12s ease-in-out;
            &:hover {
                background-color: transparent;
                color: $clr-2;
                transform: scale(1.05, 0.98);
            }
        }
    }
}
