@media screen and (min-width: 768px) {
    .about-me__personality-links a {
        font-size: 2em;
        width: 25%;
    }
}
@media screen and (max-width: 767px) {
    .about-me__personality-links a {
        font-size: 1.2em;
        width: 45%;
    }
}
.about-me__personality {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    &.visible {
        h2 {
            transform: translateX(0);
            opacity: 1;
        }
        p {
            animation: appearFromBottom 0.3s ease-out 0.3s forwards;
        }
        .about-me__personality-links a {
            &:nth-child(1) {
                animation: appearFromLeft 0.3s ease-out 0.38s forwards;
            }
            &:nth-child(2) {
                animation: appearFromRight 0.3s ease-out 0.5s forwards;
            }
        }
    }
    h2 {
        font-family: var(--title-font);
        transform: translateX(-10%);
        opacity: 0;
        transition: 0.5s ease-out;
    }
    p {
        font-size: 1.5em;
        color: $clr-2-op7;
        transform: translateY(10%);
        opacity: 0;
    }
    &-links {
        font-family: var(--title-font);
        margin-top: 15px;
        display: flex;
        justify-content: center;
        gap: 20px;
        a {
            font-weight: 900;
            letter-spacing: 2px;
            padding: 10px 0;
            text-align: center;
            border: 2px solid $clr-2;
            border-radius: 4px;
            background-color: $clr-2;
            color: $clr-1;
            transition: 0.12s ease-in-out;
            opacity: 0;
            &:nth-child(1) {
                transform: translateX(-10%);
                animation-delay: 0.35s !important;
            }
            &:nth-child(2) {
                transform: translateX(10%);
                animation-delay: 0.45s !important;
            }
            &:hover {
                background-color: transparent;
                color: $clr-2;
                scale: 1.05 0.98;
            }
        }
    }
}
