@media screen and (min-width: 1025px) {
    .about {
        height: unset !important;
    }
}
@media screen and (min-width: 768px) {
    .about h2 {
        font-size: 2em;
    }
}
@media screen and (max-width: 767px) {
    .about {
        margin-bottom: 50px;
        h2 {
            font-size: 1.5em;
        }
    }
}

.about {
    padding-top: 120px;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    &.visible h2 {
        opacity: 1;
        transform: translateX(0);
    }
    h2 {
        width: 100%;
        font-family: "black-fonts";
        text-transform: uppercase;
        text-align: left;
        opacity: 0;
        transform: translateX(-10%);
        transition: 0.3s ease-out;
    }
}
